body {
    background-image: url(/media/bg/gameboy-overlay.png), url(/media/bg/menu.gif);
    background-size: 100vw 100vh, 100vw 100vh;
    background-repeat: no-repeat;
    height: 100vh;
}

.menu {
    background-color: rgba(0, 0, 0, 0.802);
    position: absolute;
    height: 50%;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-around;
}

canvas {
    position: absolute;
    height: 90%;
    width: 77%;
    top: 50%;
    left: 50%;
    transform: translate(-49.5%, -50%);
}

.nes-btn,
.nes-container.is-rounded.is-dark {
    border-image-repeat: stretch;
}

.nes-radio:checked:focus+span::before {
    top: 2px;
}

.nes-radio+span {
    font-size: 25px;
}

.nes-radio {
    margin-left: -35px;
}